<h1>Questa è la nostra home page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--
<p>Scorpi chi siamo, clicca <%= link_to "QUI", about_path %></p>
-->

<a class="waves-effect waves-light btn">Stuff</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
        