/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

html {
    font-family: Arimo, GillSans, Calibri, Trebuchet, sans-serif;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h1 {font-size:3rem;}

  main {
    flex: 1 0 auto;
  }

  .btn-device {width: 100%;}

  /*CUSTOMIZE FORM COMPONENT*/
  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   input:not([type]):focus:not([readonly]), 
   input[type=text]:focus:not([readonly]), 
   input[type=password]:focus:not([readonly]), 
   input[type=email]:focus:not([readonly]), 
   input[type=url]:focus:not([readonly]), 
   input[type=time]:focus:not([readonly]), 
   input[type=date]:focus:not([readonly]), 
   input[type=datetime-local]:focus:not([readonly]), 
   input[type=tel]:focus:not([readonly]), 
   input[type=number]:focus:not([readonly]), 
   input[type=search]:focus:not([readonly]), 
   textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #cddc39;
    box-shadow: 0 1px 0 0 #cddc39;
}
   /*END CUSTOMIZE FORM COMPONENT*/

   .card .card-content .card-title {line-height: 28px;}

   .show-titolo{margin-top:0; font-size: 3rem;}
   .show-img {padding-right: 1rem;}
   .show-prezzo {font-size:1.7rem;}

   .btn-form {width:100%;}

   .show-home-case {background:url('../img/2.jpg') #09a8b3 center center no-repeat; background-size: cover; padding:3rem 1rem;}
   .show-home-case h1 {font-weight: bold; color:#EFEFEF; text-shadow: 0px 2px 4px rgba(32, 32, 32, 1);}